@tailwind base;
@tailwind components;
@tailwind utilities;

#toggle:checked ~ label div.toggle-dot {
  @apply translate-x-7;
}

.menu {
  opacity: 0;
  transition: 0.8s ease-in-out;
}

.menuVisible {
  @apply translate-y-2;
  opacity: 1;
}
